.site-logo{
    width: 420x;
    height: 114px;
    margin: 10px;
    background-color: white;
}

.site-header{
    width: 100%;
    height: 120px;
    color: red;
}

.nav-quote{
    width: 400px;
    height:15px;
    text-align: center;
}

.main{
    background-color: #202020;
    color: whitesmoke;
}

.spacer-bar{
    width:100%;
    height:5px;
    background-color:#202020;
}

.space-void{
    width:100%;
    height:80px;
    background-color: whitesmoke;
}

.space-void-in-text{
    width:100%;
    height:80px;
    background-color: white;
}

.main-body-text{
    width:90%;
    height:100%;
}

.safe{
    background-color: green;
}

.euclide{
    background-color: orange;
}

.keter{
    background-color: red;
}